# Habilitar el motor de reescritura
RewriteEngine On

# Establecer la carpeta base
RewriteBase /CrudLibros/

# Redirigir todas las solicitudes a la carpeta public
RewriteCond %{REQUEST_URI} !^/CrudLibros/public/
RewriteRule ^(.*)$ public/$1 [L]

# Si el archivo o directorio no existe, redirigir a index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [L]
