<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- Configuración para Azure App Service -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.php" />
        <add value="public/index.php" />
      </files>
    </defaultDocument>
    
    <!-- Rewrite rules para URLs limpias -->
    <rewrite>
      <rules>
        <!-- Permitir acceso directo a archivos de prueba -->
        <rule name="Test files" stopProcessing="true">
          <match url="^(test_connection|setup)\.php$" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
        
        <!-- Redirigir raíz a public/index.php -->
        <rule name="Root to public" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="public/index.php" />
        </rule>
        
        <!-- Permitir acceso directo a archivos en public -->
        <rule name="Public folder access" stopProcessing="true">
          <match url="^public/(.*)$" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        
        <!-- Redirigir todo lo demás a la carpeta public -->
        <rule name="Redirect to public" stopProcessing="true">
          <match url="^(?!public/)(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Configuración de errores detallados -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Habilitar PHP -->
    <handlers>
      <remove name="PHP_via_FastCGI" />
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="D:\Program Files\PHP\v8.0\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
